@vikitheolorado:registry=http://ndsrndserver.southeastasia.cloudapp.azure.com:4873
//ndsrndserver.southeastasia.cloudapp.azure.com:4873/:_authToken=NDE1ZjdkMGY5OTFhNDk5YTRkNzc0ZjBmOTRjOTZlNDc6NDZkNTY2ZjFhMjE3ODU2YzI5NzRjMTViYjkxNGNmYzZmMmQ4MDUxOWM0MTk4ZjUyNTdiMmIzNzRhMTgxMzUzMDdj

registry=https://registry.npmjs.org