{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^react-(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^@assets/(.*)$",
    "^@components/(.*)$",
    "^@configs/(.*)$",
    "^@features/(.*)$",
    "^@languages/(.*)$",
    "^@utils/(.*)$",
    "^[./]"
  ],
  "singleQuote": true,
  "importOrderSeparation": true
}
